desktop-daemon/node_modules
desktop-daemon/dist


desktop-daemon/data/documents.json
desktop-daemon/src/services/documentStore.js
userData/*

desktop-daemon/package-lock.json

/desktop-daemon/dist
